// colors
$green: #40ce74;
$grey: #9e9b9c;
$darkgray: #53565a;
$blue: #1567a0;
$purple: #8854b7;
$red: #ce4f4f;
$yellow: #eedf57;

.bg-green {
  background-color: $green;
}

.bg-grey {
  background-color: $grey;
}
.bg-darkgray {
  background-color: $darkgray;
}
.bg-blue {
  background-color: $blue;
}
.bg-purple {
  background-color: $purple;
}
.bg-red {
  background-color: $red;
}

.red{
  color: $red;
}
.black{
  color: $black !important;
}

.blue{
  color: $blue !important;
}

.yellow{
  color: $yellow !important;
}

.font-40{
  font-size: 40px !important;
}

.font-20{
  font-size: 20px !important;
}

.alert-notification{
  position: relative;
  &:after{
    content: "";
    background-color: $red;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 8px;
    border: 1px solid $white;
  }
}

// transitions
$trans: all 0.3s ease 0s;

// fonts
$krub: "Krub", sans-serif;
/* $playfair: "Playfair Display", serif; */
