// colors
$green: #40ce74;
$grey: #9e9b9c;
$darkgray: #53565a;
$blue: #1567a0;

// transitions
$trans: all 0.3s ease 0s;

// fonts
$krub: "Krub", sans-serif;
/* $playfair: "Playfair Display", serif; */
