.btn {
  border-radius: 7px;

  &--round{
    border-radius: 30px;
  }

  &__border {
    border: solid 1px #ffffff;
  }

  &__submit {
    border-radius: 0 7px 7px 0;
    background-color: #40ce74;
    color: $white;
    padding: 15px 25px;
  }

  &__logo {
    max-width: 18px;
  }

  &--green {
    background-color: #40ce74;
    color: $white;
    padding: 8px;
    @include media-breakpoint-down(lg){
      margin-top: 10px;
    }
    @include media-breakpoint-down(md){
      width: 100%;
    }
  }

  &--blue {
    background-color: $blue;
    color: $white;
    padding: 8px;
    @include media-breakpoint-down(lg){
      margin-top: 10px;
    }
    @include media-breakpoint-down(md){
      width: 100%;
    }
  }

  &--yellow {
    background-color: $yellow;
    color: $white;
    padding: 8px;
    @include media-breakpoint-down(lg){
      margin-top: 10px;
    }
    @include media-breakpoint-down(md){
      width: 100%;
    }
  }

  &--l-pad {
    padding: 5px 20px;
  }

  &--linkedin {
    width: 100%;
    background-color: #0077b5;
    color: $white;
    @include media-breakpoint-down(sm){
      margin-top: 15px;
    }
  }

  &--google {
    width: 100%;
    border: solid 1px #e0e0e0;
    background-color: #ffffff;
    color: #aaaaaa;
    &:hover {
      color: #242424;
      background-color: #aaaaaa;
    }
  }

  &--skinny {
    padding: 5px 20px;
  }

  .gjexpress {
    &__icon {
      width: 20px;
    }
  }

  &--benefits{
    transition: $trans;
    border: 1px solid $grey;
    padding: 15px;
    .material-icons{
      font-size: 2.5rem;
    };

    img{
      max-width: 40px;
    }

    &:hover{
      
      .material-icons{
        color: $blue;
        transition: $trans;
      };

      img{
        transition: $trans;
        filter: invert(45%) sepia(84%) saturate(1926%) hue-rotate(161deg) brightness(70%) contrast(101%);
      }
    }

    &.checked{
      color: $green;

      img{
        filter: invert(53%) sepia(129%) saturate(1925%) hue-rotate(105deg) brightness(107%) contrast(86%);
      }
    }
  }

  &--border-blue {
      border: 1px solid $blue;
      border-radius: 7px;
      padding: 11px 20px;

      &:hover{
        border: 1px solid transparent;
        background-color: $blue;
        color: $white;
      }
  }
}

.border {
  &-white {
    border: 1px solid $white;
    border-radius: 7px;
  }
}
