.btn {
  border-radius: 7px;

  &__border {
    border: solid 1px #ffffff;
  }

  &__submit {
    border-radius: 0 7px 7px 0;
    background-color: #40ce74;
    color: $white;
    padding: 15px 25px;
  }

  &__logo {
    max-width: 18px;
  }

  &--green {
    background-color: #40ce74;
    color: $white;
    padding: 11px 20px;
  }

  &--blue {
    background-color: $blue;
    color: $white;
    padding: 11px 20px;
  }

  &--l-pad {
    padding: 5px 20px;
  }

  &--linkedin {
    background-color: #0077b5;
    color: $white;
  }

  &--google {
    border: solid 1px #e0e0e0;
    background-color: #ffffff;
    color: #aaaaaa;
    &:hover {
      color: #242424;
      background-color: #aaaaaa;
    }
  }

  &--skinny {
    padding: 5px 20px;
  }

  .gjexpress {
    &__icon {
      width: 20px;
    }
  }
}

.border {
  &-white {
    border: 1px solid $white;
    border-radius: 7px;
  }
}
