.dashboard {

  table.dataTable {
    width: 100% !important;
  }

  &__menu {

    @include media-breakpoint-down(sm){
      position: fixed;
      z-index: 3;
      width: 55%;
      padding-top: 20px;
      height: 100%;
    }
    &__img {
      transform: translateY(-25%);
      max-width: 100px;
      margin: 0 auto;
      display: block;
      border-radius: 50%;
      @include media-breakpoint-down(sm) {
        transform: unset;
        margin: unset;
      }
    }

    background-color: #e0e0e0;

    &:after {
      content: "";
      transform: translateX(-100%);
      background-color: #e0e0e0;
      top: 0;
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
    }

    &__list {

      &__item {
        font-size: 0.8125rem;
        font-weight: 500;
        color: #3c3c3c;
        padding-left: 10px;
        transform: translateX(10%);
        @include media-breakpoint-down(sm) {
          transform: unset;
        }

        &.current {
          background-color: #f5f5f5;
        }

        &:hover {
          transition: $trans;
          background-color: #f5f5f5;
        }

        a {
          color: #3c3c3c;
        }

        &:last-of-type {
          margin-top: 150px !important;
          @include media-breakpoint-down(sm) {
            margin-top: 0px !important;
          }
        }

        &--enterprise {
          &:last-child {
            margin-bottom: 150px;
          }
        }
      }
    }
  }

  &__profile {

    &__radio{
      width: auto !important;
    }
    &__label {
      font-size: 1.125rem;
      font-weight: bold;
      color: #212121;
    }

    input {
      border-radius: 7px;
      border: solid 1px #aaaaaa;
      background-color: #f9f9f9;
      padding: 5px;
      width: 100%;
    }

    select {
      border-radius: 7px;
      border: solid 1px #aaa;
      background-color: #f9f9f9;
      padding: 5px;
    }

    .chevron {
      position: absolute;
      right: 2%;
      pointer-events: none;
      top: 50%;
      transform: translateY(-50%);
    }

    textarea {
      border-radius: 7px;
      border: solid 1px #aaa;
      background-color: #f9f9f9;
      padding: 5px;
      min-height: 150px;
      width: 100%;
    }

    &__help {
      font-size: 0.8125rem;
      font-weight: 500;
      color: #aaaaaa;
      margin-bottom: 0;
    }

    &__title {
      font-size: 2.5rem;
    }

  }

  &__enterprise {
    &__home {
      &__card {
        position: relative;
        border-radius: 50%;
        width: 200px;
        height: 200px;

        @include media-breakpoint-down(md){
          margin: 0 auto;
        }

        @include media-breakpoint-down(sm){
          margin: 0 auto;
          width: 130px;
          height: 130px;
        }


        &--ofer {
          &:after {
            content: "";
            background-image: url(../img/list_alt-white-18dp.svg);
            position: absolute;
            object-fit: cover;
            background-size: cover;
            right: 0;
            top: 50%;
            background-repeat: no-repeat;
            transform: translateY(-50%);
            width: 50px;
            opacity: 0.5;
            height: 50px;
          }
        }

        &--post {
          &:after {
            content: "";
            background-image: url(../img/work-white-18dp.svg);
            position: absolute;
            object-fit: cover;
            background-size: cover;
            right: 0;
            top: 50%;
            background-repeat: no-repeat;
            transform: translateY(-50%);
            width: 50px;
            opacity: 0.5;
            height: 50px;
          }
        }

        &--vis {
          &:after {
            content: "";
            background-image: url(../img/mediation-white-18dp.svg);
            position: absolute;
            object-fit: cover;
            background-size: cover;
            right: 0;
            top: 50%;
            background-repeat: no-repeat;
            transform: translateY(-50%);
            width: 50px;
            opacity: 0.5;
            height: 50px;
          }
        }

        &--conex {
          &:after {
            content: "";
            background-image: url(../img/access_time-white-18dp.svg);
            position: absolute;
            object-fit: cover;
            background-size: cover;
            right: 0;
            top: 50%;
            background-repeat: no-repeat;
            transform: translateY(-50%);
            width: 50px;
            opacity: 0.5;
            height: 50px;
          }
        }

        &__body {
          /* padding: 20px; */

          position: absolute;
          top: 50%;
          left: 10%;
          transform: translateY(-50%);

          h2 {
            font-size: 1rem;
          }

          .material-icons {
            font-size: 3rem;
          }
        }

        &__footer {
          background-color: #40ce74;
          padding: 5px 20px;
          border-radius: 0;
          position: absolute;
          width: 100%;
          bottom: -50px;

          a {
            color: $white;

            .material-icons {
              transition: $trans;
            }

            &:hover {
              .material-icons {
                transition: $trans;
                margin-left: 30px !important;
              }
            }
          }
        }
      }
    }

    &__published {
      &__table {
        &__head {
          display: flex;
          align-items: center;

          @include media-breakpoint-down(sm){
            display: block;
          }

          h5 {
            margin-bottom: 0;
          }

          a {
            color: $black;
            font-size: 0.8rem;
          }
        }

        &__body {
          h2 {
            font-size: 1.5rem;
            font-weight: 600;
            color: $blue;
          }

          h3 {
            font-size: 0.8rem;
          }

          .material-icons {
            font-size: 0.9rem;
          }

          img {
            max-width: 60px;
            margin: 0 auto;
            display: block;
            border-radius: 50%;
          }
        }
      }
    }

    &__applicants {
      &__info {
        &__box {
          h2 {
            font-size: 1.5rem;
            font-weight: 600;
            color: #1567a0;
          }

          h3 {
            font-size: 0.8rem;
            color: #1567a0;
          }

          a {
            font-size: 0.8rem;
            font-weight: 600;
          }
        }
      }
    }

    &__cv {
      &__data {
        padding: 15px;
        background-color: $white;

        img {
          max-width: 200px;
          object-fit: cover;
        }

        &__list {
          &__item {
            &:first-of-type {
              border-top: 1px solid rgb(206, 203, 203);
            }

            border-bottom: 1px solid rgb(206, 203, 203);
            padding-top: 15px;
            padding-bottom: 15px;
          }
        }

        h2 {
          font-size: 1.5rem;
          font-weight: 600;
          color: #1567a0;
        }
      }

      &__number {
        font-size: 1rem;
        font-weight: 400;
      }
    }

    &__detail {
      &__letter {
        background-color: $white;
        padding: 15px;
      }

      &__data {
        background-color: $white;
        padding: 15px;
      }

      h2 {
        font-size: 1.5rem;
        font-weight: 600;
        color: #1567a0;
      }

      &--offer {
        select {
          border-radius: 7px;
          border: solid 1px #aaa;
          background-color: #f9f9f9;
          padding: 5px;
          transform: translateX(15%);
          width: 200px;
        }

        .dashboard__enterprise__detail__data {
          background-color: transparent;
          padding: 0;
        }

        .dashboard__enterprise__detail__list {
          .material-icons {
            z-index: 1;
            position: inherit;
            top: 50%;
            transform: translateY(20%);
            color: $green;
          }
        }

        .dashboard__enterprise__detail__list__item {
          &__img {
            width: 50px;
            height: 50px;
            object-fit: cover;
          }

          padding: 15px;
          align-items: center;

          &:nth-child(even) {
            background-color: $white;
          }

          &:nth-child(odd) {
            background-color: #e4e3e3;
          }
        }
      }
    }

    &__publish {
      &__offer {
        input {
          border-radius: 7px;
          border: solid 1px #aaa;
          background-color: #f9f9f9;
          padding: 5px;
        }

        select {
          border-radius: 7px;
          border: solid 1px #aaa;
          background-color: #f9f9f9;
          padding: 5px;
        }

        textarea {
          border-radius: 7px;
          border: solid 1px #aaa;
          background-color: #f9f9f9;
          padding: 5px;
          min-height: 150px;
        }

        .chevron {
          position: absolute;
          right: 2%;
          pointer-events: none;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    &__search {
      .chevron {
        right: 10%;
      }

      .select{
          @include media-breakpoint-down(md){
            margin-top: 15px;
          }
      }
    }

    &__plan {
      .plans {
        margin-top: 40px;
      }
    }
  }

  .breadcrumb__list{
    @include media-breakpoint-down(sm){
      margin-top: 40px;
    }
    
  }

  .search__input{
    @include media-breakpoint-down(md){
      margin-bottom: 15px;
    }
  }
}
