.hero {
  position: relative;
  height: 80vh;
  z-index: 0;

  &__title{
    font-size: 1.75rem;
  }

  &__slider {

    &__img {
      overflow: hidden;
      min-height: 80vh;
      max-height: 880px;
      flex-flow: column;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;

      &__img-base {
        object-fit: cover;
        width: 100%;
        height: 80vh;
      }
    }
  }

  &__forms {
    top: 40%;
  }

  &__logo {
    min-width: 150px;
  }

  &:after {
    content: "";
    background: rgba(5, 51, 82, 1);
    background: -moz-linear-gradient(
      top,
      rgba(5, 51, 82, 1) 0%,
      rgba(75, 116, 132, 0.45) 32%,
      rgba(224, 255, 237, 0.45) 100%
    );
    background: -webkit-gradient(
      left top,
      left bottom,
      color-stop(0%, rgba(5, 51, 82, 1)),
      color-stop(32%, rgba(75, 116, 132, 0.45)),
      color-stop(100%, rgba(224, 255, 237, 0.45))
    );
    background: -webkit-linear-gradient(
      top,
      rgba(5, 51, 82, 1) 0%,
      rgba(75, 116, 132, 0.45) 32%,
      rgba(224, 255, 237, 0.45) 100%
    );
    background: -o-linear-gradient(
      top,
      rgba(5, 51, 82, 1) 0%,
      rgba(75, 116, 132, 0.45) 32%,
      rgba(224, 255, 237, 0.45) 100%
    );
    background: -ms-linear-gradient(
      top,
      rgba(5, 51, 82, 1) 0%,
      rgba(75, 116, 132, 0.45) 32%,
      rgba(224, 255, 237, 0.45) 100%
    );
    background: linear-gradient(
      to bottom,
      rgba(5, 51, 82, 1) 0%,
      rgba(75, 116, 132, 0.45) 32%,
      rgba(224, 255, 237, 0.45) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#053352', endColorstr='#e0ffed', GradientType=0 );
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  form {
    input.input--select {
      border-radius: 7px 0 0 7px;
      width: 50%;
      margin-right: -5px;
    }

    select.select--input {
      width: 25%;
      margin-left: -5px;
      margin-right: -5px;
    }
  }
}
