.people {
  &__message {
    &:nth-child(odd) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;

      & > div {
        margin-left: 0;
      }
    }

    &--writting{
        opacity: 0.4;
    }
  }
}
