.results {
  &-hero {
    &__single {
      background-color: $blue;
      padding-bottom: 170px;

      &__title {
        color: $white;
      }
    }
  }

  &__card {
    border-radius: 7px;
    background-color: $white;
    border: none;
    padding: 30px;
    transform: translateY(-120px);
    color: #212121;
    position: relative;

    &__img {
      border-radius: 7px;
      border: solid 1px #e0e0e0;
    }

    &__title {
      color: #212121;
      font-size: 1.5625rem;
    }

    &__city {
      font-size: 1.125rem;
    }

    &__save {
      position: absolute;
      right: 0;
      top: 0;
      padding: 7px;
      color: white;
      background-color: #40ce74;
      border-radius: 0 0 0 15px;
      transition: $trans;

      &:hover {
        transition: $trans;
        color: yellow;
      }
    }
  }

  &__info {
    margin-top: -50px;

    li {
      list-style: disc;
    }
  }
}