.select {
  &--input-filter {
    width: 90%;
    color: #38a2ec;
    border: 1px solid #38a2ec;
    background-color: #f5f5f5;
    border-radius: 7px;

    @include media-breakpoint-down(md){
      width: 90%;
    }
    
  }

  .chevron {
    position: absolute;
    color: #38a2ec;
    top: 50%;
    transform: translateY(-50%);
    right: 15%;
    pointer-events: none;
    transition: all 0.3s ease 0s;
  }

  .btn__submit {
    border-radius: 7px;

    @include media-breakpoint-down(md){
      margin-top: 20px;
      width: 100%;
    }

    &:hover {
      color: $white;
      box-shadow: -2px 2px 23px -11px rgba(21, 103, 160, 1);
      transition: $trans;
    }
  }
}
