.header {
  transition: $trans;
  &.absolute {
    left: 0;
    right: 0;
    z-index: 1;
  }

  &.open {
    transition: $trans;
    position: relative;
    background-color: $white;
    color: #053352;

    .navbar-brand {
      transition: $trans;
      filter: invert(75%) sepia(27%) saturate(2600%) hue-rotate(173deg)
        brightness(97%) contrast(99%);
    }

    .navbar-toggler-icon {
      transition: $trans;
      filter: invert(75%) sepia(27%) saturate(1000%) hue-rotate(-40deg)
        brightness(115%) contrast(99%);
    }

    nav .nav-item .nav-link {
      color: #053352 !important;
      transition: $trans;
      font-weight: 600;
      text-align: center;

      &.maleta {
        margin-right: 0px !important;
        &:after {
          display: none;
          /*           filter: invert(75%) sepia(27%) saturate(2600%) hue-rotate(173deg)
            brightness(40%) contrast(99%);
          right: -25px; */
        }
      }

      &:hover {
        text-shadow: 0 0 0 #fff0, 0 0 0 #fff0;
      }
    }
  }

  &.open-intern {
    nav .nav-item .nav-link {
        font-weight: 600;
      text-align: center;

      &.maleta {
        margin-right: 0px !important;
        &:after {
          display: none;
        }
      }

      &:hover {
        text-shadow: 0 0 0 #fff0, 0 0 0 #fff0;
      }
      
    }
  }

  nav {
    .nav-item {
      .nav-link {
        font-size: 0.875rem;
        text-align: right;
        color: $white !important;
        font-weight: 400;

        &:hover {
          color: $white;
          text-shadow: 0 0 0.65px #333, 0 0 0.65px #333;
        }
      }

      .alert-notification {
      }

      .alert-menu {
        &.show {
          transform: translateX(-85%);

          .notification__img {
            max-width: 40px;
            border-radius: 50%;
            margin-right: 15px;
          }
          h4 {
            margin-bottom: 0;
          }

          h5 {
            font-size: 0.8rem;
            margin-bottom: 0;
          }

          h6 {
            font-size: 0.7rem;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
